body {
  font-family: "Playfair Display" serif;
  font-size: 14px;
  color: #626262;
  line-height: 24px;
}
.container {
  width: 900px;
  margin: 0px auto;
}
/* Шапка сайту */

.site-navigation li {
  display: inline-block;
  margin-right: 89px;
}
/* .site-navigation ul :hover {
  color: #0e1113; */

.site-navigation-list li :hover {
  color: aqua;
}

.site-navigation {
  font-size: 14px;
  list-style: none;
  text-align: center;
  width: 900px;
}

.site-navigation a {
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 17px;
}
/* Main */

.features-list {
  list-style: none;
  margin-top: 65px;
}
.features-list-item {
  display: inline-block;
  width: 420px;
}
.features-list-item li :nth-child(2) {
  padding-right: 0px;
}
h2 {
  color: #626262;
  font-size: 30px;
  line-height: 16px;
}
.features-list-name {
  color: #b4ad9e;
  text-transform: uppercase;
}
button {
  margin-left: 380px;
  margin-top: 22px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  width: 160px;
  height: 60px;
}
